.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 122px;
  background: $color-nav;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

  @include mobie {
    height: 69px;
    background: $color-white1;
  }

  &-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 7%;
    width: 55%;

    @include mobie {
      justify-content: center;
      margin: 0 0 5px 0;
      font-size: 20px;
      width: 100%;

      img {
        width: 47.09px;
        height: 45px;
      }
    }

    span {
      @extend %font-700;
      margin: 0 10px 0 0;
    }

    form {
      @extend %align-center;
      width: 48%;
      margin: 0 0 0 20px;
      height: 46px;
      border-radius: 5px;
      position: relative;

      input {
        padding: 0 0 0 10px;
        width: 100%;
        height: 100%;
        border: none;
        background: $color-white1;
        list-style: none;
        border: 1px solid $placeholder;
        border-radius: 4px;

        &::placeholder {
          color: $placeholder;
        }

        &:focus {
          outline: none;
        }

        @include mobie {
          display: none;
        }
      }

      button {
        position: absolute;
        width: 19px;
        height: 19px;
        border: none;
        left: 91%;

        svg {
          background: $color-white1;
          margin: 0 0 10px 0;
        }
      }

      @include mobie {
        display: none;
      }
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    margin: 0 7% 0 0;

    a {
      @extend %font-500;
      text-decoration: none;
      color: $color-navbar-menu;
    }

    &-btn {
      @extend %align-center;
      width: 51px;
      height: 31px;
      border-radius: 3px;
      background: $color-red;
      margin: 0 10px 0 0;

      button {
        @extend %font-500;
        background: $color-red;
        border: none;
        color: $color-white1;
      }
    }

    &-user {
      margin: 0 0 0 50px;

      img {
        width: 26.67px;
        height: 26.67px;
        margin: 0 0 0 10px;
        border-radius: 50px;
      }

      &-profile {
        position: absolute;
        margin: 10px 15px 0 0;
        padding: 10px 5px 0 0;
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        background: $color-nav1;

        li {
          list-style: none;
        }

        a {
          text-decoration: underline;
        }
      }

      .show-profile {
        opacity: 1;
        pointer-events: initial;
      }
    }

    @include mobie {
      display: none;
    }
  }

  &-mobie {
    display: none;
    @include mobie {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &-bars {
      opacity: 0;
      @include mobie {
        color: $color-nav1;
        opacity: 1;
        left: 25px;
        font-size: 2rem;
        img {
          padding: 0 0 5px 15px; 
        }
        &-item {
          background: $color-nav1;
          position: absolute;
          overflow: auto;
          pointer-events: none;
          opacity: 0;
          li {
            list-style: none;
          }
          a {
            margin: 0 10px 0 0;
            color: $color-black1;
            font: 400 14px/23.17px Noto Sans JP;
          }
        }
        .show-profile {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    &-form {
      @extend %align-center;
      width: 100%;
      opacity: 0;
      form {
        @extend %align-center;
        width: 60%;
        margin: 0 0 0 20px;
        height: 30px;
        border-radius: 5px;
        position: relative;
  
        input {
          padding: 0 0 0 10px;
          width: 100%;
          height: 100%;
          border: none;
          background: $color-white1;
          list-style: none;
          border: 1px solid $placeholder;
          border-radius: 4px;
          font: 400 14px/23.17px Noto Sans JP;
          @include mobie {
            margin: 120px 0 0 0;
          }
          &::placeholder {
            color: $placeholder;
            font: 400 14px/23.17px Noto Sans JP;
          }
          &:focus {
            outline: none;
          }
        }
        img {
          position: absolute;
          width: 19px;
          height: 19px;
          border: none;
          margin: 3px 0 0 85%;
          @include mobie {
            margin: 120px 0 0 0;
          }
        }
      }
      @include mobie {
        color: $color-nav1;
        opacity: 1;
        position: absolute;
        right: 0;
        font-size: 2rem;
      }
    }
    &-search {
      @include mobie {
        color: $color-nav1;
        opacity: 1;
        position: absolute;
        right: 0;
        font-size: 2rem;
        img {
          padding: 0 15px 5px 0;
        }
      }
    }
  }
}
