.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 122px;
  background: $color-nav;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  &-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 7%;
    width: 55%;
    span {
      @extend %font-700;
      margin: 0 10px 0 0;
    }
    form {
      @extend %align-center;
      width: 48%;
      margin: 0 0 0 20px;
      height: 46px;
      border-radius: 5px;
      position: relative;
      input {
        padding: 0 0 0 10px;
        width: 100%;
        height: 100%;
        border: none;
        background: $color-white1;
        list-style: none;
        border: 1px solid $placeholder;
        border-radius: 4px;
        &::placeholder {
          color: $placeholder;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        position: absolute;
        width: 19px;
        height: 19px;
        border: none;
        left: 91%;
        svg {
          background: $color-white1;
          margin: 0 0 10px 0;
        }
      }
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    margin: 0 7% 0 0;
    a {
      @extend %font-500;
      text-decoration: none;
      color: $color-navbar-menu;
    }
    &-btn {
      @extend %align-center;
      width: 51px;
      height: 31px;
      border-radius: 3px;
      background: $color-red;
      margin: 0 10px 0 0;
      button {
        @extend %font-500;
        background: $color-red;
        border: none;
        color: $color-white1;
      }
    }
    &-user {
      margin: 0 0 0 50px;
      img {
        width: 26.67px;
        height: 26.67px;
        margin: 0 0 0 10px;
        border-radius: 50px;
      }
    }
  }
}
