@import '_register-form';
@import '_header';
@import '_create-blog';
@import '_detail-blog';
@import '_navbar';
@import '_footer';
@import '_home';
@import '_user-profile';
@import '_dashboard';
@import '_user-list';
@import '_edit-blog';
@import '_my-blog';
@import '_media-queries';
@import '_block-popup';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @keyframes header-up {
    0% {
      top: 0px;
    }
    100% {
      top: -122px;
    }
  }
  @keyframes header-down {
    0% {
      top: -122px;
    }
    100% {
      top: 0;
    }
  }
  
  body {
    .header-up {
      animation-name: header-up;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  
    .header-down {
      animation-name: header-down;
      animation-duration: 1s;
    }
  }
