.main-content .title, .block-popup-button, .my-blogs .row .card .card-body button, .list-pagination, .list-search form .list-search-search, .list-header-search form, .main-content header .header-title-search, .profile-info-btn-cancel, .profile-info-btn, .profile-info-upload, .profile, .blogs-pagination .page-item .page-link, .blogs-pagination, .blogs .row .card .card-body button, .blogs-title, .footer, .navbar-mobie-form form, .navbar-mobie-form, .navbar-menu-btn, .navbar-logo form, .blog-popup-button-cancel, .blog-popup-content, .blog-container-detail-line, .blog-container-detail-comment, .create-blog-form-submit, .create-blog-form-upload-btn, .account-login, .form-signup-help-remember, .form-signup-btn, .form, .regit-logo, .regit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo span, .navbar-logo span, .create-blog-form form p, .form-signup p, .regit-logo span {
  font: 700 20px/28.96px Noto Sans JP;
}

.footer-content p, .navbar-menu-btn button, .navbar-menu a {
  font: 500 15px/21.72px Noto Sans JP;
}

.profile-info-btn-cancel, .profile-info-btn, .profile-info-upload, .blog-popup-content span, .create-blog-form-upload-btn, .create-blog-form-upload button, .create-blog-form form b, .account-login a, .form-signup-help a, .form-signup-help-remember label, .form-signup b {
  font: 400 15px/21.72px Noto Sans JP;
}

.profile-info-name input, .create-blog-form form textarea, .create-blog-form form input, .create-blog-form form select, .form-signup input {
  border-radius: 4px;
  border: 1px solid #DEDEDE;
}

.regit-logo {
  padding: 157px 0px 0px 0px;
  width: 151px;
  height: 61px;
}
.regit-logo img {
  width: 61px;
  height: 61px;
}
.form {
  padding: 75px 0px 0px 0px;
  margin: 0 0 20px 0;
  width: 100%;
}
.form-signup {
  width: 570px;
}
.form-signup-input {
  margin: 0 0 24px 0;
}
.form-signup-input span {
  color: #C40000;
}
.form-signup-btn {
  width: 100;
  height: 40px;
  margin: 16px 0 0 0;
}
.form-signup p {
  margin: 0 0 16px 0;
}
.form-signup b {
  margin: 0 0 10px 0;
}
.form-signup input {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
}
.form-signup button {
  font: 16px/23.17px Noto Sans JP;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #007BFF;
  background: #007BFF;
  color: #DEDEDE;
}
.form-signup-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 40px 0;
}
.form-signup-help-remember input[type=checkbox] {
  width: 24px;
  height: 24px;
  margin: 0 7px 0 0;
  border: 1.5px solid #292D32;
}
.form-signup-help a {
  color: #007BFF;
  text-decoration: none;
}

.account-login {
  width: 100%;
  margin: 11px 0 264px 0;
}
.account-login a {
  text-decoration: none;
  color: #007BFF;
}

.header {
  position: relative;
  width: 100%;
  height: 519.42px;
}
.header .image-banner {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    height: 380px;
  }
}

.create-blog {
  margin: 0 7% 40px 7%;
}
.create-blog-link {
  width: 100%;
  height: 23px;
  margin: 156px 0 34px 0;
}
.create-blog-link a {
  font: 700 16px/23.17px Noto Sans JP;
  text-decoration: none;
  color: #A7A7A7;
}
.create-blog-link span {
  font: 700 16px/23.17px Noto Sans JP;
}
.create-blog-form {
  width: 100%;
  height: 1136px;
  background: #D9D9D9;
}
.create-blog-form form {
  padding: 30px 30px 52px 30px;
}
@media screen and (max-width: 768px) {
  .create-blog-form form {
    padding: 30px 15px 52px 15px;
  }
}
.create-blog-form form p {
  width: 100%;
  height: 29px;
  margin: 0 0 16px 0;
}
.create-blog-form form select {
  width: 30%;
  height: 40px;
  margin: 10px 0 34px 0;
}
@media screen and (max-width: 768px) {
  .create-blog-form form select {
    width: 50%;
  }
}
.create-blog-form form span {
  color: #C40000;
}
.create-blog-form form input {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
}
.create-blog-form form textarea {
  width: 100%;
  height: 459px;
}
.create-blog-form-upload-title {
  padding: 20px 0 20px 0;
}
.create-blog-form-upload button {
  width: 13%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #007BFF;
  color: #007BFF;
}
@media screen and (max-width: 768px) {
  .create-blog-form-upload button {
    width: 25%;
    font-size: 10px;
  }
}
.create-blog-form-upload img {
  width: 100%;
  height: 170px;
  border: none;
}
.create-blog-form-upload-image {
  width: 25%;
  height: 170px;
  margin: 10px 0 27px 0;
}
@media screen and (max-width: 768px) {
  .create-blog-form-upload-image {
    width: 50%;
  }
}
.create-blog-form-upload-btn {
  width: 13%;
  height: 40px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #007BFF;
  color: #007BFF;
}
@media screen and (max-width: 768px) {
  .create-blog-form-upload-btn {
    width: 25%;
    font-size: 10px;
  }
}
.create-blog-form-submit {
  margin: 15px 0 0 0;
}
.create-blog-form-submit button {
  font: 16px/23.17px Noto Sans JP;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #007BFF;
  background: #007BFF;
  color: #DEDEDE;
}

.blog-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.blog-container-detail {
  margin: 156px 7% 60px 7%;
  position: relative;
  z-index: 1;
}
.blog-container-detail-link {
  width: 100%;
  height: 23px;
  margin: 0 0 34px 0;
}
.blog-container-detail-link a {
  color: #A7A7A7;
  font: 700 16px/23.17px Noto Sans JP;
  text-decoration: none;
}
.blog-container-detail-link span {
  font: 700 16px/23.17px Noto Sans JP;
}
.blog-container-detail-title {
  width: 100%;
  height: 26px;
  margin: 0 0 44px 0;
}
.blog-container-detail-title p {
  font: 700 18px/26.06px Noto Sans JP;
}
.blog-container-detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  margin: 0 0 41px 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail-info {
    margin: 0 0 20px 0;
  }
}
.blog-container-detail-info-user {
  display: flex;
}
.blog-container-detail-info-user img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  margin: 0 8px 0 0;
}
.blog-container-detail-info-user a {
  text-decoration: none;
  font: 500 12px/17.38px Noto Sans JP;
  color: #000000;
}
.blog-container-detail-info-user p {
  font: 400 11px/15.93px Noto Sans JP;
  color: #A7A7A7;
}
.blog-container-detail-info-btn {
  display: flex;
}
.blog-container-detail-info-btn button {
  width: 110px;
  height: 29px;
  border-radius: 3px;
  background: #18B727;
  color: #FFFFFF;
  border: none;
  margin: 0 0 0 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .blog-container-detail-info-btn button {
    width: 70px;
    margin: 0 0 10px 10px;
    font: 500 10px/15.93px Noto Sans JP;
  }
}
.blog-container-detail-info-btn-approved button {
  background: #18B727;
}
.blog-container-detail-info-btn-notapproved button {
  background: #A7A7A7;
}
.blog-container-detail-info-btn-delete button {
  background: #DC3545;
}
.blog-container-detail-image {
  width: 100%;
  height: 555px;
  margin: 0 0 41px 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail-image {
    height: 323px;
    margin: 0 0 30px 0;
  }
}
.blog-container-detail-image img {
  width: 100%;
  height: 100%;
  border: none;
}
.blog-container-detail-desc {
  width: 100%;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail-desc {
    padding: 0;
    margin: 0 0 20px 0;
  }
}
.blog-container-detail-desc p {
  font: 400 14px/20.27px Noto Sans JP;
  color: #747474;
}
.blog-container-detail-like {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.blog-container-detail-like-count p {
  margin: 10px 10px;
  font: 700 18px/26.06px Noto Sans JP;
  color: #747474;
}
.blog-container-detail-like button {
  border: none;
}
.blog-container-detail-like i.active {
  color: #C40000;
}
.blog-container-detail-like svg {
  width: 30px;
  height: 30px;
}
.blog-container-detail-like svg path {
  stroke: #C40000;
}
.blog-container-detail-comment {
  width: 100%;
  height: 35px;
  margin: 35px 0 18px 0;
}
.blog-container-detail-comment span {
  font: 700 24px/34.75px Noto Sans JP;
}
.blog-container-detail-line {
  margin: 0 0 18px 0;
}
.blog-container-detail-line hr {
  width: 63px;
  color: #747474;
}
.blog-container-detail-related {
  width: 100%;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail-related .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .blog-container-detail-related .dot:hover {
    background-color: #C40000;
  }
  .blog-container-detail-related .active {
    background-color: #C40000;
  }
  .blog-container-detail-related .slides img {
    width: 323px;
    height: 323px;
  }
  .blog-container-detail-related .slides-text a {
    text-decoration: none;
    color: #000000;
    font: 700 17px/28px Noto Sans JP;
    cursor: pointer;
  }
}
.blog-container-detail .slide {
  display: flex;
  justify-content: center;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail .slide {
    opacity: 1;
  }
}
.blog-container-detail .card {
  width: 265px;
  height: 340px;
  border: none;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 768px) {
  .blog-container-detail .card {
    width: 323px;
    height: 400px;
  }
}
.blog-container-detail .card img {
  width: 265px;
  height: 265px;
  font: 700 24px/34.75px Noto Sans JP;
}
@media screen and (max-width: 768px) {
  .blog-container-detail .card img {
    width: 323px;
    height: 323px;
  }
}
.blog-container-detail .card a {
  text-decoration: none;
  color: #000000;
  font: 700 17px/28px Noto Sans JP;
  cursor: pointer;
}
.blog-container-detail .card-body {
  border: 1px solid #CCCCCC;
  border-radius: 0 0 8px 8px;
  font: 700 24px/34.75px Noto Sans JP;
}
.blog-container-detail-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0 0 49px 0;
}
.blog-container-detail-input img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 17px 0 0;
}
.blog-container-detail-input form {
  width: 100%;
}
.blog-container-detail-input form input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
}
.blog-container-detail-comments-user {
  display: flex;
  align-items: center;
}
.blog-container-detail-comments-user img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 17px 0 0;
}
.blog-container-detail-comments-user p {
  font: 700 24px/34.75px Noto Sans JP;
}
.blog-container-detail-comments-content {
  margin: 0 0 0 65px;
}
.blog-container-detail-comments-content-icon {
  display: flex;
}
.blog-container-detail-comments-content p {
  font: 400 14px/20.27px Noto Sans JP;
  color: #212121;
}
.blog-container-detail-comments-content span {
  font: 400 14px/20.27px Noto Sans JP;
  color: #747474;
}
.blog-container-detail-comments-edit {
  margin: 0 0 0 65px;
}
.blog-container-detail-comments form {
  margin: 0 0 0 65px;
}
.blog-container-detail-comments form input {
  font: 400 14px/20.27px Noto Sans JP;
  color: #212121;
  border: 1px solid #E1E1E1;
}
.blog-container-detail-comments form button {
  border: none;
}
.blog-container-detail-comments .hidden {
  display: none;
}
.blog-popup {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 542px;
  height: 251px;
  transform: translate(-50%, -50%) scale(0);
  background: #DEDEDE;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .blog-popup {
    width: 342px;
    height: 251px;
  }
}
.blog-popup-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #D9D9D9;
}
.blog-popup-top img {
  width: 13px;
  height: 13px;
  margin: 10px 10px;
  cursor: pointer;
}
.blog-popup-top img:hover {
  background: #B0B0B0;
}
.blog-popup-top p {
  font: 700 20px/28.96px Noto Sans JP;
  margin: 16px 28px;
}
.blog-popup-content {
  width: 100%;
  height: 122px;
  border-bottom: 1px solid #D9D9D9;
}
.blog-popup-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
}
.blog-popup-button button {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font: 400 20px/28.96px Noto Sans JP;
  color: #DEDEDE;
  background: #DC3545;
  margin: 0 54px 0 0;
  cursor: pointer;
}
.blog-popup-button-cancel {
  width: 80px;
  height: 40px;
  margin: 0 0 0 54px;
  border-radius: 4px;
  border: none;
  background-color: #B0B0B0;
  cursor: pointer;
}
.blog-popup-button-cancel a {
  text-decoration: none;
  font: 400 20px/28.96px Noto Sans JP;
  color: #DEDEDE;
}
.active .blog-container {
  background: rgba(72, 72, 72, 0.4);
  position: fixed;
  display: block;
}
.active .blog-popup {
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 122px;
  background: rgba(255, 255, 255, 0.6509803922);
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 69px;
    background: #FFFFFF;
  }
}
.navbar-logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 7%;
  width: 55%;
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    justify-content: center;
    margin: 0 0 5px 0;
    font-size: 20px;
    width: 100%;
  }
  .navbar-logo img {
    width: 47.09px;
    height: 45px;
  }
}
.navbar-logo span {
  margin: 0 10px 0 0;
}
.navbar-logo form {
  width: 48%;
  margin: 0 0 0 20px;
  height: 46px;
  border-radius: 5px;
  position: relative;
}
.navbar-logo form input {
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;
  border: none;
  background: #FFFFFF;
  list-style: none;
  border: 1px solid #D4D1D4;
  border-radius: 4px;
}
.navbar-logo form input::-moz-placeholder {
  color: #D4D1D4;
}
.navbar-logo form input::placeholder {
  color: #D4D1D4;
}
.navbar-logo form input:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .navbar-logo form input {
    display: none;
  }
}
.navbar-logo form button {
  position: absolute;
  width: 19px;
  height: 19px;
  border: none;
  left: 91%;
}
.navbar-logo form button svg {
  background: #FFFFFF;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .navbar-logo form {
    display: none;
  }
}
.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0 7% 0 0;
}
.navbar-menu a {
  text-decoration: none;
  color: #212121;
}
.navbar-menu-btn {
  width: 51px;
  height: 31px;
  border-radius: 3px;
  background: #C40000;
  margin: 0 10px 0 0;
}
.navbar-menu-btn button {
  background: #C40000;
  border: none;
  color: #FFFFFF;
}
.navbar-menu-user {
  margin: 0 0 0 50px;
}
.navbar-menu-user img {
  width: 26.67px;
  height: 26.67px;
  margin: 0 0 0 10px;
  border-radius: 50px;
}
.navbar-menu-user-profile {
  position: absolute;
  margin: 10px 15px 0 0;
  padding: 10px 5px 0 0;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  background: #BDB8B8;
}
.navbar-menu-user-profile li {
  list-style: none;
}
.navbar-menu-user-profile a {
  text-decoration: underline;
}
.navbar-menu-user .show-profile {
  opacity: 1;
  pointer-events: initial;
}
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}
.navbar-mobie {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-mobie {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.navbar-mobie-bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar-mobie-bars {
    color: #BDB8B8;
    opacity: 1;
    left: 25px;
    font-size: 2rem;
  }
  .navbar-mobie-bars img {
    padding: 0 0 5px 15px;
  }
  .navbar-mobie-bars-item {
    background: #BDB8B8;
    position: absolute;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
  }
  .navbar-mobie-bars-item li {
    list-style: none;
  }
  .navbar-mobie-bars-item a {
    margin: 0 10px 0 0;
    color: #000000;
    font: 400 14px/23.17px Noto Sans JP;
  }
  .navbar-mobie-bars .show-profile {
    opacity: 1;
    pointer-events: initial;
  }
}
.navbar-mobie-form {
  width: 100%;
  opacity: 0;
}
.navbar-mobie-form form {
  width: 60%;
  margin: 0 0 0 20px;
  height: 30px;
  border-radius: 5px;
  position: relative;
}
.navbar-mobie-form form input {
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;
  border: none;
  background: #FFFFFF;
  list-style: none;
  border: 1px solid #D4D1D4;
  border-radius: 4px;
  font: 400 14px/23.17px Noto Sans JP;
}
.navbar-mobie-form form input::-moz-placeholder {
  color: #D4D1D4;
  font: 400 14px/23.17px Noto Sans JP;
}
.navbar-mobie-form form input::placeholder {
  color: #D4D1D4;
  font: 400 14px/23.17px Noto Sans JP;
}
.navbar-mobie-form form input:focus {
  outline: none;
}
.navbar-mobie-form form img {
  position: absolute;
  width: 19px;
  height: 19px;
  border: none;
  margin: 3px 0 0 85%;
}
@media screen and (max-width: 768px) {
  .navbar-mobie-form {
    color: #BDB8B8;
    opacity: 1;
    position: absolute;
    right: 0;
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar-mobie-search {
    color: #BDB8B8;
    opacity: 1;
    position: absolute;
    right: 0;
    font-size: 2rem;
  }
  .navbar-mobie-search img {
    padding: 0 15px 5px 0;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  height: 94px;
  background: #000000;
}
.footer-content {
  width: 251px;
  height: 20px;
}
.footer-content p {
  color: #FFFFFF;
}

.blogs {
  padding: 72px 7% 0 7%;
}
@media screen and (max-width: 768px) {
  .blogs {
    padding: 65px 0 0 0;
  }
}
.blogs-title {
  margin: 68px 0 38px 0;
  height: 68px;
  justify-content: space-between;
}
.blogs-title p {
  font: 700 50px/72.4px Noto Sans JP;
}
@media screen and (max-width: 768px) {
  .blogs-title {
    padding: 69px 0 0 0;
    margin: 0px 9%;
  }
  .blogs-title p {
    font: 700 30px/43.44px Noto Sans JP;
  }
}
.blogs-title select {
  font: 500 15px/21.72px Noto Sans JP;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  outline: none;
  padding: 7px 40px 7px 15px;
  margin: 15px 0 0 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/public/image/select.png);
  background-repeat: no-repeat;
  background-position: 113px center;
}
@media screen and (max-width: 768px) {
  .blogs-title select {
    margin: 0;
  }
}
.blogs .row {
  margin: 34px 0 0 0;
}
.blogs .row .card {
  margin: 20px 0 50px 0;
  border: none;
}
.blogs .row .card img {
  height: 250px;
}
.blogs .row .card .card-body {
  border: 1px solid #CCCCCC;
  border-radius: 0 0 8px 8px;
}
.blogs .row .card .card-body .author-time {
  display: flex;
  align-items: center;
}
.blogs .row .card .card-body button {
  background: #FFFFFF;
  color: #C40000;
  width: 137px;
  height: 40px;
  font: 400 14px/20px SVN-Gilroy;
  border: solid 1px #DEDEDE;
  border-radius: 4px;
}
.blogs .row .card .card-body button:hover {
  border-radius: 5px;
  background: #C40000;
  color: #FFFFFF;
}
.blogs .row .card .card-body button:hover a {
  color: #FFFFFF;
}
.blogs .row .card .card-body button:hover svg path {
  stroke: #FFFFFF;
}
.blogs .row .card .card-body h6 {
  font: 700 20px/28px SVN-Gilroy;
}
.blogs .row .card .card-body p {
  margin: 0 0 29px 0;
  font: 400 18px/25px SVN-Gilroy;
}
.blogs .row .card .card-body i {
  padding: 0 5px 0 0;
}
.blogs .row .card .card-body h7 {
  padding: 0 25px 0 3px;
  margin: 0 0 15px 0;
  font: 400 18px/30px SVN-Gilroy;
}
@media screen and (max-width: 768px) {
  .blogs .row .card .card-body h7 {
    font-size: 15px;
    padding: 0 0 15px 0;
  }
}
.blogs-pagination {
  margin: 0 0 96px 0;
}
.blogs-pagination .page-item .page-link {
  font: 700 20px/28px SVN-Gilroy;
  color: #000000;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
}
.blogs-pagination .page-item .page-link:hover {
  color: #FFFFFF;
  background: #C40000;
}
.blogs-pagination .page-item:first-child .page-link {
  background-color: #C40000;
  border-radius: 50px;
  color: #FFFFFF;
}
.blogs-pagination .page-item:last-child .page-link {
  background-color: #E5E5E5;
  border-radius: 50px;
  color: #FFFFFF;
}
.blogs-pagination .page-item.active .page-link {
  background-color: #C40000;
}
.blogs-pagination .page-item.disabled .page-link {
  background-color: #E5E5E5;
  border-radius: 50px;
}

.profile {
  margin: 156px 7% 60px 7%;
}
.profile-info img {
  width: 400px;
  height: 280px;
}
.profile-info-upload {
  margin: 15px 0 15px 0;
  height: 40px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #007BFF;
  color: #007BFF;
}
.profile-info-name input {
  width: 100%;
  height: 40px;
  margin: 10px 0 10px 0;
}
.profile-info-btn {
  margin: 10px 0 0 0;
}
.profile-info-btn-save {
  margin: 0 5px 0 0;
}
.profile-info-btn-save button {
  width: 60px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
}
.profile-info-btn-cancel {
  margin: 0 0 0 5px;
  width: 60px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
  background: #B0B0B0;
}
.profile-info-btn-cancel a {
  text-decoration: none;
}

.sidebar {
  top: 0;
  left: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  background: #747474;
}
.sidebar-logo {
  padding: 10px 7%;
}
.sidebar-logo img {
  margin: 10px 0;
  width: 61px;
  height: 61px;
}
.sidebar-menu li {
  width: 100%;
  margin: 10px 0px;
  list-style: none;
}
.sidebar-menu a {
  width: 100%;
  margin: 0 10px;
  text-decoration: none;
  font: 500 18px/23.17px Noto Sans JP;
  color: #000000;
}

.main-content {
  padding-left: 310px;
}
.main-content p {
  font: 700 20px/23.17px Noto Sans JP;
}
.main-content header {
  margin: 10px 0 0 0;
}
.main-content header .header-title {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.main-content header .header-title-dashboard {
  margin: 15px 0 0 0;
}
.main-content header .header-title-search {
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  overflow-x: hidden;
}
.main-content header .header-title-search span {
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.main-content header .header-title-search input {
  padding: 0 0 0 10px;
  height: 100%;
  border: none;
  outline: none;
}
.main-content header .header-title-user {
  margin: 0 20px 0 0;
}
.main-content header .header-title-user span {
  cursor: pointer;
  font: 400 16px/23.17px Noto Sans JP;
}
.main-content header .header-title-user img {
  margin: 0 0 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.main-content header .header-title-user-profile {
  margin: 10px 0;
  right: 25px;
  position: absolute;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  background: #BDB8B8;
}
.main-content header .header-title-user-profile li {
  list-style: none;
}
.main-content header .header-title-user-profile a {
  margin: 0 10px 0 0;
  color: #000000;
  font: 400 14px/23.17px Noto Sans JP;
}
.main-content header .header-title-user .show-profile {
  opacity: 1;
  pointer-events: initial;
}

.main {
  padding: 50px 0 0 310px;
}

.list {
  padding: 50px 0 0 310px;
}
.list-header {
  margin: 0 20px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.list-header-create a {
  font: 14px/23.17px Noto Sans JP;
  text-decoration: none;
  color: #DEDEDE;
}
.list-header-create button {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #007BFF;
  background: #007BFF;
}
.list-header-search form {
  display: flex;
  margin: 0 50px 0 0;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  overflow-x: hidden;
}
.list-header-search form span {
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.list-header-search form input {
  padding: 0 0 0 10px;
  height: 100%;
  border: none;
  outline: none;
}
.list-header-search form button {
  border: none;
}
.list-search {
  display: flex;
  margin: 10px 0;
}
.list-search form {
  display: flex;
}
.list-search form .list-search-search {
  margin: 0 50px 0 0;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  overflow-x: hidden;
}
.list-search form .list-search-search span {
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.list-search form .list-search-search input {
  padding: 0 0 0 10px;
  height: 100%;
  border: none;
  outline: none;
}
.list-search form .list-search-search button {
  border: none;
}
.list-search form .list-search-select {
  margin: 0 50px 0 50px;
  height: 100%;
}
.list-search form .list-search-select select {
  height: 100%;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  font: 400 14px/23.17px Noto Sans JP;
}
.list-pagination {
  margin: 50px 0;
}
.list table {
  font: 400 16px/23.17px Noto Sans JP;
}
.list table img {
  width: 40px;
  height: 40px;
}
.list table button {
  font: 400 12px/23.17px Noto Sans JP;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
}
.list table td .unblocked {
  background: #007BFF;
}
.list table td .blocked {
  background: #C40000;
}

.edit-blog {
  padding: 50px 10px 0 310px;
}
.edit-blog-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 23px;
  margin: 0 0 34px 0;
}
.edit-blog-link a {
  font: 700 16px/23.17px Noto Sans JP;
  text-decoration: none;
  color: #A7A7A7;
}
.edit-blog-link span {
  font: 700 16px/23.17px Noto Sans JP;
}
.edit-blog-link button {
  width: 110px;
  height: 29px;
  border-radius: 3px;
  background: #18B727;
  color: #FFFFFF;
  border: none;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.edit-blog-link-btn .approved {
  background: #18B727;
}
.edit-blog-link-btn .un-approved {
  background: #DC3545;
}

.my-blogs {
  padding: 200px 7% 0 7%;
}
.my-blogs .row {
  margin: 34px 0 0 0;
}
.my-blogs .row .card {
  margin: 20px 0 50px 0;
  border: none;
}
.my-blogs .row .card img {
  height: 250px;
}
.my-blogs .row .card .card-body {
  border: 1px solid #CCCCCC;
  border-radius: 0 0 8px 8px;
}
.my-blogs .row .card .card-body .author-time {
  display: flex;
  align-items: center;
}
.my-blogs .row .card .card-body .read-more {
  display: flex;
  justify-content: center;
}
.my-blogs .row .card .card-body button {
  background: #FFFFFF;
  color: #C40000;
  width: 137px;
  height: 40px;
  font: 400 14px/20px SVN-Gilroy;
  border: solid 1px #DEDEDE;
  border-radius: 4px;
  margin: 0 5px 0 5px;
}
.my-blogs .row .card .card-body button:hover {
  border-radius: 5px;
  background: #C40000;
  color: #FFFFFF;
}
.my-blogs .row .card .card-body button:hover a {
  color: #FFFFFF;
}
.my-blogs .row .card .card-body button:hover svg path {
  stroke: #FFFFFF;
}
.my-blogs .row .card .card-body h6 {
  font: 700 20px/28px SVN-Gilroy;
}
.my-blogs .row .card .card-body p {
  margin: 0 0 29px 0;
  font: 400 18px/25px SVN-Gilroy;
}
.my-blogs .row .card .card-body i {
  padding: 0 5px 0 0;
}
.my-blogs .row .card .card-body h7 {
  padding: 0 25px 0 3px;
  margin: 0 0 15px 0;
  font: 400 18px/30px SVN-Gilroy;
}
@media screen and (max-width: 768px) {
  .my-blogs .row .card .card-body h7 {
    font-size: 15px;
    padding: 0 0 15px 0;
  }
}

.block-popup {
  background-color: red;
  position: absolute;
  top: 48%;
  left: 50%;
  width: 542px;
  height: 251px;
  transform: translate(-50%, -50%) scale(0);
  background: #DEDEDE;
  z-index: 10;
}
.block-popup-button {
  width: 100%;
  height: 68px;
}
.block-popup-button button {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font: 400 20px/28.96px Noto Sans JP;
  color: #DEDEDE;
  background: #DC3545;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .block-popup {
    width: 342px;
  }
  .block-popup span {
    padding: 0 0 0 8px;
  }
}

.block {
  background: rgba(72, 72, 72, 0.4);
  position: fixed;
  display: block;
}

.show {
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
}

.main-content {
  padding: 0 0 0 310px;
}
.main-content .title {
  margin: 20px 0;
}
.main-content .title label {
  font: 700 18px/23.17px Noto Sans JP;
}
.main-content .profile {
  margin: 30px 0;
}
.main-content span {
  font: 700 14px/23.17px Noto Sans JP;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes header-up {
  0% {
    top: 0px;
  }
  100% {
    top: -122px;
  }
}
@keyframes header-down {
  0% {
    top: -122px;
  }
  100% {
    top: 0;
  }
}
body .header-up {
  animation-name: header-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
body .header-down {
  animation-name: header-down;
  animation-duration: 1s;
}/*# sourceMappingURL=app.css.map */
